<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<form action="/books/" method="post" enctype="multipart/form-data">
	
		<h3>Nuevo libro:</h3>
	
		<p>Autor: </p>
		<input type='text' name='author' />
		<p>Titulo:</p>
		<input type='text' name='title'/>
		<p>Editorial: </p>
		<input type='text' name='editorial' />
		<p>Año: </p>
		<input type='text' name='year' />
		<p>Resumen:</p>
		<textarea name='resume' rows=5 cols=40></textarea>

		<input type='submit' value='Save'/>
	</form>
</body>
</html>
